.hero__background {
    background-image: url(https://37490647-limaudio.s3.twcstorage.ru/banner_4a21bb8d1a.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 400px;
    color: var(--color-white);
    padding-left: 30px;
    margin-top: 10px;
}


.hero__background>h1 {
    padding-top: 120px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 54px;
    font-weight: 500;
    line-height: 100%;
}

.hero__background>p {
    margin-top: 23px;
}

@media screen and (max-width: 1024px) {

    .hero__background {
        margin-top: 7px;

    }
}

@media screen and (max-width: 767px) {
    .hero__background {
        background-image: url(https://37490647-limaudio.s3.twcstorage.ru/banner_min_8b91073360.webp);
        height: 300px;
        border-radius: 0px;
        padding-left: 30px;
        padding-left: 18px;
    }

    .hero__background>h1 {
        padding-top: 45px;
        font-size: 40px;
    }
}


@media screen and (max-width:425px) {
    .hero__background {
        height: 191px;
    }

    .hero__background>h1 {
        font-weight: 600;
        font-size: 24px;
        padding-top: 44px;
    }

    .hero__background>p {
        margin-top: 12px;
        width: 200px;
        font-size: 16px !important;
    }
}