.interes__card>div {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

@media screen and (max-width:1000px) {
    .interes__card>div {
        grid-template-columns: repeat(1, 1fr);
    }
}