 /*
 
 .search-btn {
     transition: background-color 0.3s;
 }

 .search_input_header {
     position: absolute;
     top: 15px;
     left: 130px;
     width: 0;
     padding: 13px 10px 13px 35px;
     border-radius: 12px;
     transition: width 0.3s ease;
     background: var(--color-grayF1);
     background-image: url('../public/lupe.svg');
     background-repeat: no-repeat;
     background-position: 10px center;
     background-size: 16px;
     border: none;
     outline: none;
     width: calc(100% - 230px);
 }

 .search_input_header.active {
     display: block;
     width: calc(100% - 230px);

 }



 @media screen and (max-width:500px) {
     .search_input_header {
         width: calc(100% - 120px);
         left: 15px;
     }

     .search_input_header.active {
         display: block;
         width: calc(100% - 90px);
     }
 }*/